# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Datos (no versionamos los CSVs por tamano y licencia)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Sistema
.DS_Store
.env

# Modelos (Ignorar artefactos binarios)
models/